.bg-form:hover,
.bg-form:focus {
  background-color: rgb(206, 208, 208);
}

.ronal {
  color: #721c24;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

nav a {
  text-decoration: none;
}

nav a,
/* nav a:visited {
  color: rgb(25, 79, 134);
} */

nav a:hover,
nav a:active,
nav a:focus {
  color: rgb(247, 255, 6);
}

nav a.active {
  font-weight: bold;
}

/* search input form */
#search-form {
  margin: auto;
}

#search-form input,
button {
  height: 2em;
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.center {
  text-align: center;
  margin: auto;
}
.half-width {
  max-width: 50vw;
  border: 1px solid gray;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.gap5 {
  gap: 0.5rem;
}
/* product page */
.item {
  display: flex;
  gap: 0.5em;
  flex-direction: column;
}

.item div {
  display: flex;
  gap: 1em;
  align-items: flex-start;
}

.item div span {
  font-weight: bold;
  width: 8rem;
}

.info {
  padding: 0.25rem;
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}

.danger {
  padding: 0.25rem;
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.danger-color {
  color: #721c24;
}

.list-item {
  margin: auto;
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-sizing: border-box;
  gap: 0.3rem;
}

@media screen and (min-width: 600px) {
  .list-item {
    grid-template-columns: repeat(4, 1fr);
  }
}

.list-item li {
  padding: 0.8rem;
  border-radius: 5px;
}

.list-item li:hover {
  background-color: #d1ecf1;
}

.list-item li {
  border: 1px solid #7b898c;
  background-color: white;
}

.list-item a:visited,
.list-item a {
  color: #333;
  text-decoration: none;
}

/* breadcrumbs */
.breadcrumbs {
  max-width: 1200px;
  margin: 20px auto;
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}

.breadcrumbs .crumb:after {
  content: ">";
  margin-left: 10px;
}

.breadcrumbs .crumb:last-child:after {
  display: none;
}

.breadcrumbs .crumb a {
  color: #555;
}

/* product edit page */
.product-form {
  display: flex;
  max-width: 40rem;
  flex-direction: column;
  gap: 1rem;
}

.product-form label {
  display: flex;
  min-height: 2rem;
}

.product-form p span,
.product-form label span {
  width: 8rem;
}

.product-form p input,
.product-form label input,
.product-form label textarea {
  flex-grow: 2;
}

.product-form p:last-child,
.control-button {
  display: flex;
  gap: 0.5rem;
  margin: 0 0 0 8rem;
}

.product-form p:last-child button[type="button"] {
  color: inherit;
}

.control-button {
  margin-top: 3rem;
}

/* for spinner */
.loading {
  border: 0.3rem solid #ddd;
  border-top: 0.3rem solid darkgray;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 2s linear infinite;
}

/* .loading {
    width: 3rem;
    height: 3rem;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath stroke='%23000' strokeLinecap='round' strokeLinejoin='round' strokeWidth='2' d='M20 4v5h-.582m0 0a8.001 8.001 0 00-15.356 2m15.356-2H15M4 20v-5h.581m0 0a8.003 8.003 0 0015.357-2M4.581 15H9' /%3E%3C/svg%3E");
    animation: spin 1s infinite linear;
} */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* login form */
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 0.1rem;
  background-color: #eee;
  border: 1px solid #ccc;
  gap: 0.5rem;
  width: 17rem;
}
.login-form h1 {
  color: rgb(25, 79, 134);
}
.form-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.form-input label {
  color: #333;
  font-size: 0.8rem;
}
.form-input input {
  height: 1.8rem;
  min-width: 12rem;
  padding: 0 0.4rem;
  margin-bottom: 0.6rem;
  border-style: none;
  border-bottom: 2px solid darkgray;
}
.form-input input:placeholder-shown:focus,
.form-input input:focus {
  border-bottom: none;
}

.form-input input:placeholder-shown {
  border-bottom: 2px solid orange;
  color: #666;
}

.login-form button {
  padding: 0.5rem 1rem;
  height: auto;
}

.hide {
  display: none;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.number {
  font-size: 1rem; /* เลือกขนาดตัวอักษร */
  font-weight: bold; /* เลือกความหนาของตัวอักษร */
  color: #094852; /* เลือกสีของตัวอักษร */
  /* และเพิ่มการปรับแต่งอื่น ๆ ตามที่คุณต้องการ */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* paginition */

.paginationBttns {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin-top: 16px;
  padding-right: 24px;
}

.paginationBttns li {
  margin: 0 5px; /* เพิ่มระยะห่างระหว่างตัวเลข */
}

.previousBttn,
.nextBttn {
  font-size: 12px;
  cursor: pointer;
  padding: 6px 10px;
  background-color: #05a57d;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
}

.paginationActive {
  border-radius: 2px;
  padding-right: 5px;
  padding-left: 5px;
  color: #04e675;
}

.paginationDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media only screen and (max-width: 768px) {
  .p-8 {
    padding: 4px;
  }
  .text-base {
    font-size: 16px;
  }
  .mb-4 {
    margin-bottom: 8px;
  }
  .ml-2 {
    margin-left: 4px;
  }
  .mr-2 {
    margin-right: 4px;
  }
  .px-3 {
    padding-left: 6px;
    padding-right: 6px;
  }
  .py-1 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .sm\:px-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
  .justify-between {
    justify-content: space-between;
  }
  .text-sm {
    font-size: 14px;
  }
}
